{{#if siteSettings.post_user_extras_enabled}}
  <div class="control-group signatures">
    <label class="control-label">Включить иконки групп</label>
    <div class="controls bio-composer input-xxlarge">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.see_groups_icon}}
        Видеть иконки групп под аватаром
      </label>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">Включить иконки наград</label>
    <div class="controls bio-composer input-xxlarge">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.see_badges_icon}}
        Видеть иконки наград под аватаром
      </label>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">Включить подпись</label>
    <div class="controls bio-composer input-xxlarge">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.see_signatures}}
        Видеть подписи пользователей под сообщениями
      </label>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">Моя подпись</label>
    <div class="controls bio-composer input-xxlarge">
      {{d-editor value=model.custom_fields.signature_raw}}
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      Не курю
    </label>
    <div class="controls">
      <label class='text-label'>
        <input type="radio" id="img_signature_no_smoking_1" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('/plugins/discourse-post-user-extras/images/nosmoking.png');" />
        <img src="/plugins/discourse-post-user-extras/images/nosmoking.png" style="width: 24px;padding-right: 4px;" />
        <input type="radio" id="img_signature_no_smoking_2" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('/plugins/discourse-post-user-extras/images/cigarette.png');" />
        <img src="/plugins/discourse-post-user-extras/images/cigarette.png" style="width: 24px;padding-right: 4px;" />
        <input type="radio" id="img_signature_no_smoking_3" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('/plugins/discourse-post-user-extras/images/no-smoking.png');" />
        <img src="/plugins/discourse-post-user-extras/images/no-smoking.png" style="width: 24px;padding-right: 4px;" />
        <input type="radio" id="img_signature_no_smoking_4" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('/plugins/discourse-post-user-extras/images/quit-smoking-1.png');" />
        <img src="/plugins/discourse-post-user-extras/images/quit-smoking-1.png" style="width: 24px;padding-right: 4px;" />
        <input type="radio" id="img_signature_no_smoking_5" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('/plugins/discourse-post-user-extras/images/quit-smoking.png');" />
        <img src="/plugins/discourse-post-user-extras/images/quit-smoking.png" style="width: 24px;padding-right: 4px;" />
        <input type="radio" id="img_signature_no_smoking_6" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('/plugins/discourse-post-user-extras/images/no_smoking3.png');" />
        <img src="/plugins/discourse-post-user-extras/images/no_smoking3.png" style="width: 24px;padding-right: 4px;" />
        <input type="radio" id="img_signature_no_smoking_7" name="img_signature_no_smoking" onclick="if ($(this).is(':checked')) $('input.img_signature_no_smoking').val('');'" />
        Без иконки
        {{input type="hidden" class="img_signature_no_smoking" value=model.custom_fields.img_signature_no_smoking}}
        <script type="text/javascript">
        $('#img_signature_no_smoking_1').attr('checked', $('input.img_signature_no_smoking').val()=="/plugins/discourse-post-user-extras/images/nosmoking.png");
        $('#img_signature_no_smoking_2').attr('checked', $('input.img_signature_no_smoking').val()=="/plugins/discourse-post-user-extras/images/cigarette.png");
        $('#img_signature_no_smoking_3').attr('checked', $('input.img_signature_no_smoking').val()=="/plugins/discourse-post-user-extras/images/no-smoking.png");
        $('#img_signature_no_smoking_4').attr('checked', $('input.img_signature_no_smoking').val()=="/plugins/discourse-post-user-extras/images/quit-smoking-1.png");
        $('#img_signature_no_smoking_5').attr('checked', $('input.img_signature_no_smoking').val()=="/plugins/discourse-post-user-extras/images/quit-smoking.png");
        $('#img_signature_no_smoking_6').attr('checked', $('input.img_signature_no_smoking').val()=="/plugins/discourse-post-user-extras/images/no_smoking3.png");
        $('#img_signature_no_smoking_7').attr('checked', $('input.img_signature_no_smoking').val()=="");
        </script>
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_no_smoking_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_no_smoking_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_no_smoking}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      Не пью
    </label>
    <div class="controls">
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_drink_1}}
        <img src="/plugins/discourse-post-user-extras/images/nodrink.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_drink_2}}
        <img src="/plugins/discourse-post-user-extras/images/no-alcohol.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_drink_3}}
        <img src="/plugins/discourse-post-user-extras/images/no-drinking.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_drink_4}}
        <img src="/plugins/discourse-post-user-extras/images/no-drinks.png" style="width: 24px;padding-right: 4px;" />
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_no_drink_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_no_drink_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_no_drink}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      На правильном питании
    </label>
    <div class="controls">
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.img_signature_proper_nutrition_1}}
        <img src="/plugins/discourse-post-user-extras/images/pp.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_proper_nutrition_2}}
        <img src="/plugins/discourse-post-user-extras/images/diet.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_proper_nutrition_3}}
        <img src="/plugins/discourse-post-user-extras/images/salad.png" style="width: 24px;padding-right: 4px;" />
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_proper_nutrition_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_proper_nutrition_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_proper_nutrition}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      На спорте
    </label>
    <div class="controls">
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.img_signature_fitnes_1}}
        <img src="/plugins/discourse-post-user-extras/images/fit.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_fitnes_2}}
        <img src="/plugins/discourse-post-user-extras/images/strong.png" style="width: 24px;padding-right: 4px;" />
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_fitnes_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_fitnes_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_fitnes}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      В доме чисто
    </label>
    <div class="controls">
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.img_signature_clear_home_1}}
        <img src="/plugins/discourse-post-user-extras/images/home.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_clear_home_2}}
        <img src="/plugins/discourse-post-user-extras/images/home2.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_clear_home_3}}
        <img src="/plugins/discourse-post-user-extras/images/house.png" style="width: 24px;padding-right: 4px;" />
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_clear_home_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_clear_home_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_clear_home}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      С хобби
    </label>
    <div class="controls">
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.img_signature_hobby_1}}
        <img src="/plugins/discourse-post-user-extras/images/hobby.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_hobby_2}}
        <img src="/plugins/discourse-post-user-extras/images/puzzle.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_hobby_3}}
        <img src="/plugins/discourse-post-user-extras/images/jigsaw.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_hobby_4}}
        <img src="/plugins/discourse-post-user-extras/images/hiking.png" style="width: 24px;padding-right: 4px;" />
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_hobby_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_hobby_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_hobby}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
{{/if}}
