{{#if siteSettings.post_user_extras_enabled}}
  <div class="control-group signatures">
    <label class="control-label">Включить иконки групп</label>
    <div class="controls bio-composer input-xxlarge">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.see_groups_icon}}
        Видеть иконки групп под аватаром
      </label>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">Включить иконки наград</label>
    <div class="controls bio-composer input-xxlarge">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.see_badges_icon}}
        Видеть иконки наград под аватаром
      </label>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">Включить подпись</label>
    <div class="controls bio-composer input-xxlarge">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.see_signatures}}
        Видеть подписи пользователей под сообщениями
      </label>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">Моя подпись</label>
    <div class="controls bio-composer input-xxlarge">
      {{d-editor value=model.custom_fields.signature_raw}}
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label">
      Не курю
    </label>
    <div class="controls">
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_smoking_1}}
        <img src="/plugins/discourse-post-user-extras/images/nosmoking.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_smoking_2}}
        <img src="/plugins/discourse-post-user-extras/images/cigarette.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_smoking_3}}
        <img src="/plugins/discourse-post-user-extras/images/no-smoking.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_smoking_4}}
        <img src="/plugins/discourse-post-user-extras/images/quit-smoking-1.png" style="width: 24px;padding-right: 4px;" />
        {{input type="checkbox" checked=model.custom_fields.img_signature_no_smoking_5}}
        <img src="/plugins/discourse-post-user-extras/images/quit-smoking.png" style="width: 24px;padding-right: 4px;" />
      </label>
      <div class="desc"><i>будет использовано первое выбранное изображение</i></div>
    </div>
    <div class="controls">
      <div class="desc"><b>Свой текст у счётчика</b></div>
      <label class='text-label'>
        {{input type="checkbox" checked=model.custom_fields.signature_no_smoking_text_check}}
        {{input type="text" class="input-medium" value=model.custom_fields.signature_no_smoking_text}}
        N дней
      </label>
    </div>
    <div class="controls">
      <div class="desc"><b>Дата</b></div>
      <label class='text-label'>
        {{input type="text" class="input-medium" value=model.custom_fields.signature_no_smoking}}
      </label>
      <div class="desc"><i>дату пишите в формате "год-месяц-день", пример: 2019-03-25</i></div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label"><img src="/plugins/discourse-post-user-extras/images/nodrink.png" style="width: 24px;padding-right: 4px;" /> Не пью</label>
    <div class="controls">
      <label class='text-label'>
          {{input type="text" class="input-medium" value=model.custom_fields.signature_no_drink}}
        </label>
        <div class="desc">дату пишите в формате "год-месяц-день", пример: 2019-03-25</div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label"><img src="/plugins/discourse-post-user-extras/images/pp.png" style="width: 24px;padding-right: 4px;" /> На ПП</label>
    <div class="controls">
      <label class='text-label'>
          {{input type="text" class="input-medium" value=model.custom_fields.signature_proper_nutrition}}
        </label>
        <div class="desc">дату пишите в формате "год-месяц-день", пример: 2019-03-25</div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label"><img src="/plugins/discourse-post-user-extras/images/fit.png" style="width: 24px;padding-right: 4px;" /> На спорте</label>
    <div class="controls">
      <label class='text-label'>
          {{input type="text" class="input-medium" value=model.custom_fields.signature_fitnes}}
        </label>
        <div class="desc">дату пишите в формате "год-месяц-день", пример: 2019-03-25</div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label"><img src="/plugins/discourse-post-user-extras/images/home.png" style="width: 24px;padding-right: 4px;" /> В доме чисто</label>
    <div class="controls">
      <label class='text-label'>
          {{input type="text" class="input-medium" value=model.custom_fields.signature_clear_home}}
        </label>
        <div class="desc">дату пишите в формате "год-месяц-день", пример: 2019-03-25</div>
    </div>
  </div>
  <div class="control-group signatures">
    <label class="control-label"><img src="/plugins/discourse-post-user-extras/images/hobby.png" style="width: 24px;padding-right: 4px;" /> С хобби</label>
    <div class="controls">
      <label class='text-label'>
          {{input type="text" class="input-medium" value=model.custom_fields.signature_hobby}}
        </label>
        <div class="desc">дату пишите в формате "год-месяц-день", пример: 2019-03-25</div>
    </div>
  </div>
{{/if}}
